.destaque {
    font-size: 55px;
    text-align: center;
}

.input-convidado {
    margin-top: 15px;
    width: 350px;
    padding: 10px;
    font-size: 30px;
    border-radius: 0.8em;
    text-align: center;
    caret-color: #fff;
    border: transparent;
    box-shadow: 10px 0 15px -5px #FFCC70, 0 0 10px #C850C0, 0 0 20px #4158D0;
}

.input-convidado:focus {
    outline: none;
}


.desabilitado {
    display: none;
}

.texto-principal {
    padding: 10px 100px;
}

.container-boasvindas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-bottom: 15px;
}

.item-container-boasvindas{
    flex: 1;
}
.sobremim-container {
    margin: 20px 0px;
    text-align: center;
    font-size: 24px;
    padding: 0 10%;
    color: #fff
}

.sobremim-conteudo {
    display: flex;
    align-items: center;
}

.sobremim-foto {
    width: 14%;
    border-radius: 20%;
    box-shadow:
        5px 0 10px -3px #FFCC70,
        0 0 5px #C850C0,
        0 0 15px #4158D0;
    margin-right: 10px;
}