.destaque {
    font-size: 55px;
    text-align: center;
}

.desabilitado {
    display: none;
}

.texto-principal {
    padding: 10px 100px;
    margin-bottom: 15px;
}

.container-boasvindas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-bottom: 15px;
}

@media (min-width:1025px) and (max-width:1200px) {
    .destaque {
        font-size: 45px;
    }

    .texto-principal {
        padding: 10px 100px;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .destaque {
        font-size: 40px;
    }

    .texto-principal {
        padding: 10px 100px;
    }
}

@media (min-width:621px) and (max-width:768px) {
    .home-conteudo {
        padding-top: 150px;
    }

    .destaque {
        font-size: 35px;
    }

    .texto-principal {
        padding: 10px 50px;
    }
}

@media (min-width:481px) and (max-width:620px) {
    .home-conteudo {
        padding-top: 140px;
    }

    .destaque {
        font-size: 30px;
    }

    .texto-principal {
        padding: 10px 40px;
        
    }
}

@media (min-width:421px) and (max-width:620px) {
    .home-conteudo {
        padding-top: 130px;
    }

    .destaque {
        font-size: 25px;
    }

    .texto-principal {
        padding: 5px 40px;
    }
}

@media (min-width:360px) and (max-width:420px) {
    .home-conteudo {
        padding-top: 120px;
    }

    .destaque {
        font-size: 24px;
    }

    .texto-principal {
        padding: 5px 10px;
    }
}

@media (min-width:280px) and (max-width:359px) {
    .home-conteudo {
        padding-top: 120px;
    }

    .destaque {
        font-size: 22px;
    }

    .texto-principal {
        padding: 5px 10px;
    }
}