.carrossel-container {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 15px;
    gap: 40px;
}

@media (max-width: 768px){
    .carrossel-container {
        padding-top: 100px   
    }
}

@media (max-width: 480px){
    .carrossel-container {
        padding-top:80px   
    }
}