nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    transition: 0.4s;
    letter-spacing: 2px;
    margin: 10px;
    color: var(--amarelo);
}

.nav-list {
    display: flex;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-alexandre {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;

}

.logo {
    width: 60px;
}

.navbar-icones {
    display: flex;
    gap: 40px;
    padding-left: 40px;
}

@media (min-width:769px) and (max-width:1024px) {
    .navbar-icones {
        padding-left: 20px;
    }

    .logo {
        width: 50px;
    }
}

@media (max-width: 768px) {
    .mobile-desativado {
        display: none;
    }

    nav {
        flex-direction: column;
        gap: 100px;
    }

    .navbar-icones {
        padding-left: 0;
        gap: 80px;
    }
}

@media (max-width: 421px) {
    .navbar-icones {
        padding-left: 0;
        gap: 50px;
    }
}

@media (max-width: 359px) {
    .logo {
        width: 45px;
    }
}