* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

:root {
    --amarelo: #FFCC70;
}

body {
    overflow-x: hidden;
    background-color: #000;
    background: url('../../../public/background.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    color: var(--amarelo)
}

.conteudo-principal {
    height: 85vh;
}

.align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}